/* 
       Exercícios:
    - Posicione o Mário acima do Goomba.
    - Posicione a tag p para que fique dentro do balão de fala.
    - Posicione o balão para que se torne uma fala de Bowser.
    - Posicione os elementos para que tenham alguma distância entre si.
     */
      .mario {
          position: relative;
          left: 130px;
      }
      p {
          position: absolute;
          bottom: -2515px;
          left: 100px;
          z-index: 2;   
      }
      .baloon {
          position: absolute;
          right: 950px;
          bottom: -2600px;
          z-index: 1;
      }
      .bowser {
          position: relative;
          left: 300px;
          
      }